@media screen and (max-width:1000px){
        .navbar>ul{
            display:none;}

        .navbar{
            align-items: center;
            justify-content: flex-start;
        }

        .hamburger{
            display:flex;
            justify-content: space-between;
            width:100%;
            padding-left: 1%;
            padding-right: 2%;
            color:white;
            align-items: center;
        }

        .hamburger i{
            width:100%;
            height:100%;
        }

        #unicef{
            flex-direction: column;
        }

        .logo_menu{
            display:none;
        }

        .row-copyright, .menu_left{
            flex-direction: row;
            flex-wrap:wrap;
        }
        .footer-content{
            width:98%;
        }
}

@media screen and (max-width:768px){
    #grid{
        grid-template-columns: 1fr;
    }
    .container-col{
        flex-wrap:wrap;
        justify-content: flex-start;
        padding:0;
    }
    .col{
        flex-direction: row;
        width:100%;
    }

    .row-copyright{
        width:100%;
    }

    footer ul{
        display: none;
    }

    h3{
        margin-top:1%;
        border-bottom:1px solid grey;
        font-weight: 100;
        width:100%;
    }

    h3::after{
        content:"+";
        width:100%;
        margin-left: auto;
        text-align: right;
    }
}